<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/ui/assets/img/favicon.ico" />
        <!-- Do not remove, Carbon style is used as base -->
        <link rel="stylesheet" href="/profile/static/carbon-components.min.css">
        <!---->
        <!-- Optionally override carbon styles using the common theme.css (common/page_components/default/page_style.css in Theme files) -->
        <link rel="stylesheet” href=“/template/v1.0/static/theme.css?themeId=@THEME_ID@" />
        <!---->
        <title>custom_page5</title>
    </head>
    <body class="cs-content">
        <div class="content">
            <div>
                An invalid Email Domain was specified while logging in. Please correct the same and retry.
                <!-- You can add UI form here . The form action url should  MANDATORILY include the   @WORKFLOW_CALLBACK_URL@ macro  which will be a  callback url used to resume the workflow . If this macro is not included then the workflow will be BROKEN. -->
            </div>
            <!---->
        </div>
        <script type="text/javascript" src="/profile/static/carbon-components.min.js"></script>
        <script type="text/javascript" src="/usc/js/ieCheck.js"></script>
        <!---->
    </body>
</html>  